/////////////////////////////////////////////////////////////
///////
///////                 Imports                 ///////
///////
/////////////////////////////////////////////////////////////

@import "../node_modules/breakpoint-sass/stylesheets/_breakpoint.scss";

/////////////////////////////////////////////////////////////
///////
///////                 Style wielokrotne             ///////
///////
/////////////////////////////////////////////////////////////
$body-color: rgb(251, 251, 251);
$border-d: rgba(77, 77, 77, 0.60);
$border-dh: rgb(47, 102, 176);

$dev-xs: max-width 575px;
$dev-sm: 576px 767px;
$dev-md: 768px 991px;
$dev-lg: 992px 1199px;
$dev-xl: min-width 1200px;
/////////////////////////////////////////////////////////////
///////
///////                 Style Ogólne                  ///////
///////
/////////////////////////////////////////////////////////////

body {
  background: $body-color;
  font-family: 'Lora', serif;
}

.nav-main-option {
  background: $body-color;
  margin-top: 2em;

}

.image-logo-prop {
  margin-left: 200px;
}

.container .navbar-menu-option li {
  font-weight: bold;
  font-size: 0.8em;
  padding: 0 10px 18px;
  margin-left: 30px;
  text-transform: uppercase;
  border-bottom: 2px solid $border-d;
  -webkit-box-shadow: 0 5px 3px -5px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 5px 3px -5px rgba(0,0,0,0.20);
  box-shadow: 0 5px 3px -5px rgba(0,0,0,0.20);

  &:hover {
    padding: 0 10px 12px;
    border-bottom: 4px solid $border-dh;
    transition: border-bottom 0.4s;
  }
  @include breakpoint($dev-xl) {
    font-size: 0.8em;
  }
}

.jumbotron {
  background: $body-color;
}

.header-content {
  width: 100%;
  height: 500px;
  background-image: url("https://images.pexels.com/photos/315752/pexels-photo-315752.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-position: center;
  background-repeat: no-repeat;
  animation: breath 20s linear infinite;
    @include breakpoint($dev-xs) {
      width: 120%;
    }
}
// @-webkit-keyframes breath {
//   0% {
//     background-size: 140% auto;
//   }
//
//   50% {
//     background-size: 170% auto;
//   }
//
//   100% {
//     background-size: 140% auto;
//   }
// }

.main-content-text {
  font-size: 13px;
}

.main-content-border {
  padding-top: 20px;
  border-top: 2px solid $border-d;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -4px;
    left: 0;
    right: 60%;
    bottom: 0;
    border-width: 20px;
    border-top: 4px solid $border-dh;
  }
}

#header .header-content{
  position: relative;

  .d-xl-block {
    position: absolute;
    top: 15%;
    bottom: 30%;
    left: 7%;
    right: 30%;
    width: 35%;
    height: 70%;
    background: $body-color;
    -webkit-box-shadow: 5px 5px 1px 2px $border-dh;
    -moz-box-shadow: 5px 5px 1px 2px $border-dh;
    box-shadow: 5px 5px 1px 2px $border-dh;
      h1 {
        font-size: 26px;
        line-height: 35px;
        font-weight: bold;
          &::after {
            content:"";
            position: absolute;
            z-index: 0;
            top: 33%;
            left: 11%;
            right: 50%;
            bottom: 0;
            border-width: 20px;
            border-top: 2px solid $border-dh;
          }
      }
  }
  .d-lg-block {
    position: absolute;
    top: 15%;
    bottom: 30%;
    left: 7%;
    right: 30%;
    width: 45%;
    height: 70%;
    background: $body-color;
    -webkit-box-shadow: 5px 5px 1px 2px $border-dh;
    -moz-box-shadow: 5px 5px 1px 2px $border-dh;
    box-shadow: 5px 5px 1px 2px $border-dh;
      h1 {
        font-size: 26px;
        line-height: 35px;
        font-weight: bold;
          &::after {
            content:"";
            position: absolute;
            z-index: 0;
            top: 33%;
            left: 9%;
            right: 50%;
            bottom: 0;
            border-width: 20px;
            border-top: 2px solid $border-dh;
          }
      }
  }
  .d-md-block {
    position: absolute;
    top: 15%;
    bottom: 30%;
    left: 17.5%;
    right: 300px;
    width: 500px;
    height: 70%;
    background: $body-color;
    -webkit-box-shadow: 5px 5px 1px 2px $border-dh;
    -moz-box-shadow: 5px 5px 1px 2px $border-dh;
    box-shadow: 5px 5px 1px 2px $border-dh;
      h1 {
        font-size: 26px;
        line-height: 35px;
        font-weight: bold;
          &::after {
            content:"";
            position: absolute;
            z-index: 0;
            top: 33%;
            left: 8%;
            right: 50%;
            bottom: 0;
            border-width: 20px;
            border-top: 2px solid $border-dh;
          }
      }
  }
  .d-md-none {
    position: absolute;
    top: 15%;
    bottom: 30%;
    left: 15%;
    right: 300px;
    width: 500px;
    height: 75%;
    background: $body-color;
    -webkit-box-shadow: 5px 5px 1px 2px $border-dh;
    -moz-box-shadow: 5px 5px 1px 2px $border-dh;
    box-shadow: 5px 5px 1px 2px $border-dh;
      h1 {
        font-size: 26px;
        line-height: 35px;
        font-weight: bold;
          &::after {
            content:"";
            position: absolute;
            z-index: 0;
            top: 33%;
            left: 8%;
            right: 50%;
            bottom: 0;
            border-width: 20px;
            border-top: 2px solid $border-dh;
          }
      }
  }
}
// #main-content .col-md-12:first-child h3:first-child {
//   margin-bottom: 0px;
//   margin-top: 14px;
//
// }


@media (max-width: 62em) {
	.navbar-nav {
		padding-top: .425rem;
		padding-left: 0.75rem;
	}
	.navbar-nav .nav-item {
		float: none;
	}
	.navbar-brand {

	}
	.navbar-brand,
	.navbar-nav .nav-item {
		display: block;
	}
	.navbar-nav .nav-item + .nav-item {
		margin-left: 0;
	}
	.dropdown-menu {
		position: relative;
		float: none;
	}
}
