/////////////////////////////////////////////////////////////
///////
///////                 Imports                 ///////
///////
/////////////////////////////////////////////////////////////
@import '../node_modules/breakpoint-sass/stylesheets/_breakpoint.scss'; /////////////////////////////////////////////////////////////
///////
///////                 Style wielokrotne             ///////
///////
/////////////////////////////////////////////////////////////
$body-color: rgb(251, 251, 251);
$border-d: rgba(77, 77, 77, .60);
$border-dh: rgb(47, 102, 176);
$dev-xs: max-width 575px;
$dev-sm: 576px 767px;
$dev-md: 768px 991px;
$dev-lg: 992px 1199px;
$dev-xl: min-width 1200px; /////////////////////////////////////////////////////////////
///////
///////                 Style Ogólne                  ///////
///////
/////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
///////
///////                 Style Główne                  ///////
///////
/////////////////////////////////////////////////////////////

body {
    font-family: 'Lora', serif;
    width      : 100%;
    height     : 100%;
    background : $body-color;
}
/////////////////////////////////////////////////////////////
///////
///////                 Nawigacja                     ///////
///////
/////////////////////////////////////////////////////////////

.nav-main-option {
    margin-top: 2em;
    background: $body-color;
}

.logo-nav {
    @media (max-width: 360px) {
        width      : 200px;
        margin-top : 5px;
        margin-left: -10px;
    }
}

.container .navbar-menu-option li {
    font-size         : 0.8em;
    font-weight       : bold;
    margin-left       : 30px;
    padding           : 0 10px 18px;
    text-transform    : uppercase;
    border-bottom     : 2px solid $border-d;
    -webkit-box-shadow: 0 5px 3px -5px rgba(0,0,0,.20);
    -moz-box-shadow   : 0 5px 3px -5px rgba(0,0,0,.20);
    box-shadow        : 0 5px 3px -5px rgba(0,0,0,.20);
    @include breakpoint($dev-xl) {
        font-size: 0.8em;
    }

    &:hover {
        padding      : 0 10px 12px;
        transition   : border-bottom 0.4s;
        border-bottom: 4px solid $border-dh;
    }
}
@media (max-width: 62em) {
    .navbar-nav {
        padding-top : 0.425rem;
        padding-left: 0.75rem;
    }

    .navbar-nav .nav-item {
        float: none;
    }

    .navbar-brand {}

    .navbar-brand,
    .navbar-nav .nav-item {
        display: block;
    }

    .navbar-nav .nav-item + .nav-item {
        margin-left: 0;
    }

    .dropdown-menu {
        position: relative;
        float   : none;
    }
}

.dropdown-bg,
.jumbotron {
    background: $body-color;
}
/////////////////////////////////////////////////////////////
///////
///////                 Header                        ///////
///////
/////////////////////////////////////////////////////////////

.header-content {
    width              : 100%;
    height             : 500px;
    margin             : 0;
    animation          : breath 20s linear infinite;
    background-image   : url("https://images.pexels.com/photos/315752/pexels-photo-315752.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-repeat  : no-repeat;
    background-position: center;
    @include breakpoint($dev-xs) {
        width: 100%;
    }
}

#header .header-content {
    width  : 100%;
    height : 100%;
    padding: 45px;
    @include breakpoint($dev-xs) {
        margin-bottom: 50px;
        padding      : 15px 15px 20px;
    }
    @include breakpoint($dev-sm) {
        margin-bottom: 50px;
    }
}

#header .header-main-content {
    min-height        : 90%;
    background        : $body-color;
    -webkit-box-shadow: 5px 5px 1px 2px $border-dh;
    -moz-box-shadow   : 5px 5px 1px 2px $border-dh;
    box-shadow        : 5px 5px 1px 2px $border-dh;
    @include breakpoint($dev-xl) {
        max-width: 40%;
    }
    @include breakpoint($dev-lg) {
        max-width: 50%;
    }
    @include breakpoint($dev-md) {
        max-width: 70%;
    }
    @include breakpoint($dev-sm) {
        max-width: 100%;
    }
    @include breakpoint($dev-xs) {
        max-width: 100%;
    }

    h1 {
        font-size  : 26px;
        font-weight: bold;
        position   : relative;
        padding    : 25px;
        @include breakpoint($dev-xs) {
            font-size: 24px;
            padding  : 15px;
        }

        &::after {
            position   : absolute;
            z-index    : 0;
            top        : 100%;
            right      : 50%;
            bottom     : 0;
            left       : 0;
            margin-left: 25px;
            content    : '';
            border-top : 2px solid $border-dh;
            @include breakpoint($dev-xs) {
                margin-left: 15px;
            }
        }
    }

    .header-text-container {
        padding: 25px;
        @include breakpoint($dev-xs) {
            padding: 15px;
        }
    }
}
/////////////////////////////////////////////////////////////
///////
///////                 Sekcja z artykułami           ///////
///////
/////////////////////////////////////////////////////////////

#main-content {
    h3 {
        font-size: 26px;
        @include breakpoint($dev-xl) {
            font-size: 32px;
        }
    }

    a {
        margin-top: 40px;
    }
}

.main-content-text {
    font-size: 13px;
}

.main-content-border {
    position   : relative;
    top        : 10%;
    right      : 60%;
    bottom     : 0;
    left       : 0;
    padding-top: 20px;
    border-top : 2px solid $border-d;

    &::after {
        position    : absolute;
        z-index     : -1;
        top         : -4px;
        right       : 60%;
        bottom      : 0;
        left        : 0;
        content     : '';
        border-width: 20px;
        border-top  : 4px solid $border-dh;
    }
}

.fa-angle-left,
.fa-angle-right {
    font-size: 40px;
}

.fa-angle-right {
    margin-left: 10px;
}

.carousel-item-css {
    width : 60%;
    margin: auto;
}
/////////////////////////////////////////////////////////////
///////
///////                 "Zalety" systemowe            ///////
///////
/////////////////////////////////////////////////////////////

#system-advantages {
    .d-lg-block,
    .d-lg-none {
        margin-top    : 200px;
        margin-left   : 50px;
        padding-bottom: 500px;
        height        : 100%;
    }
    .d-lg-none {
        margin-top: 100px;

    }
}


.content-advantages-border {
    font-weight: bold;
    position   : relative;

    h3 {
        position   : relative;
        font-weight: bold;

        &::after {
            content       : '';
            position      : absolute;
            z-index       : 1;
            top           : 30%;
            right         : 18%;
            bottom        : -30%;
            left          : 0;
            padding-bottom: 10px;
            border-bottom : 2px solid $border-d;
        }
    }

    &::after {
        position     : absolute;
        z-index      : 0;
        top          : 25%;
        right        : 30%;
        bottom       : -32%;
        left         : 0;
        width        : 30%;
        content      : '';
        border-bottom: 4px solid $border-dh;
    }
    @include breakpoint($dev-md) {
        width: 80%;
        margin: auto;
    }
    @include breakpoint($dev-sm) {
        width: 90%;
        margin: auto;
            h3 {
                font-size: 24px;
                &::after {
                    right         : 8%;
                }
            }

    }
    @include breakpoint($dev-xs) {
        width: 90%;
        margin: auto;
            h3 {
                font-size: 22px;
                &::after {
                    right         : 9%;
                }
            }
    }
    @media (max-width: 350px) {
        width: 110%;
        margin: auto;
            h3 {
                font-size: 22px;
                &::after {
                    right         : 18%;
                }
            }

    }
}

.adva-content {
    position  : relative;
    max-height: 500px;

    .adva-list {
        position  : absolute;
        top       : 33%;
        left      : 8%;
        right     : 0;
        bottom    : 100px;
        list-style: none;

        li {
            margin-bottom: 39px;
            font-weight  : bold;
            @media (max-width: 450px) {
                margin-bottom: 46.5px;
                font-size: 12px;
                margin-left: 10px;

            }
            @media (max-width: 350px) {
                margin-bottom: 50.5px;
                font-size: 10px;
                margin-left: 20px;

            }
        }
    }
    @include breakpoint($dev-md) {
        margin-left: 10%;

    }
    @include breakpoint($dev-sm) {
        margin-left: 7%;

    }
    @include breakpoint($dev-xs) {
        margin-left: 7%;
    }
    @media (max-width: 450px) {
        margin-left: 0%;

    }
    @media (max-width: 350px) {
        margin-left: -5%;

    }
}

.image-man-box {
    margin-left  : 20px;
    margin-bottom: 100px;
    position     : relative;

    .image-man {
        width : 85%;
        height: auto;
    }

    &::after {
        content       : '';
        position      : absolute;
        z-index       : 1;
        top           : 0;
        right         : 50%;
        bottom        : -2%;
        left          : 1%;
        padding-bottom: 10px;
        border-bottom : 20px solid $border-dh;
    }
}

@include breakpoint($dev-lg) {
    .image-man-box {
        margin-left: 50px;
        .image-man {
            width : 380px;
            height: 380px;
        }
    }
}
@include breakpoint($dev-xl) {
    .image-man-box {
        margin-left: 50px;
    }
}
@media (max-width: 350px) {
    .image-man-box {
        margin-left: 0px;
    }

}
