@import '../../node_modules/breakpoint-sass/stylesheets/_breakpoint.scss';
/////////////////////////////////////////////////////////////
///////
///////                 Style wielokrotne             ///////
///////
/////////////////////////////////////////////////////////////
$body-color: rgb(251, 251, 251);
$border-d: rgba(77, 77, 77, .60);
$border-dh: rgb(0, 76, 147);
$border-dhl: rgb(26, 128, 224);
$dev-xs: max-width 575px;
$dev-sm: 576px 767px;
$dev-md: 768px 991px;
$dev-lg: 992px 1199px;
$dev-xl: min-width 1200px;
////////////////////////////////////////////////////////////
///////
///////                 Style Ogólne                  ///////
///////
/////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
///////
///////                 Style Główne                  ///////
///////
/////////////////////////////////////////////////////////////

body {
    font-family: 'Roboto', sans-serif;
    width      : 100%;
    height     : 100%;
    background : $body-color;
}
/////////////////////////////////////////////////////////////
///////
///////                 Header                        ///////
///////
/////////////////////////////////////////////////////////////

.header-main-content a:hover {
    text-decoration: none;
}

.header-content {
    width              : 100%;
    height             : 500px;
    margin             : 0;
    animation          : breath 20s linear infinite;
    background-image   : url("https://images.pexels.com/photos/315752/pexels-photo-315752.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-repeat  : no-repeat;
    background-position: center;
    @include breakpoint($dev-xs) {
        width: 100%;
    }
}

#header .header-content {
    width  : 100%;
    height : 100%;
    padding: 45px;
    @include breakpoint($dev-xs) {
        margin-bottom: 50px;
        padding      : 15px 15px 20px;
    }
    @include breakpoint($dev-sm) {
        margin-bottom: 50px;
    }
    .header-main-content button {
        cursor: pointer;
        border-radius: 0%;
    }
}

#header .header-main-content {
    min-height        : 90%;
    background        : $body-color;
    -webkit-box-shadow: 5px 5px 1px 2px $border-dh;
    -moz-box-shadow   : 5px 5px 1px 2px $border-dh;
    box-shadow        : 5px 5px 1px 2px $border-dh;
    @include breakpoint($dev-xl) {
        max-width: 40%;
    }
    @include breakpoint($dev-lg) {
        max-width: 50%;
    }
    @include breakpoint($dev-md) {
        max-width: 70%;
    }
    @include breakpoint($dev-sm) {
        max-width: 100%;
    }
    @include breakpoint($dev-xs) {
        max-width: 100%;
    }

    .header-text {
        font-size: 12px;
    }

    h1 {
        font-size  : 26px;
        font-weight: bold;
        position   : relative;
        padding    : 20px;
        @include breakpoint($dev-xs) {
            font-size: 20px;
            padding  : 15px;
        }

        &::after {
            position   : absolute;
            z-index    : 0;
            top        : 100%;
            right      : 50%;
            bottom     : 0;
            left       : 0;
            margin-left: 25px;
            content    : '';
            border-top : 2px solid $border-dh;
            @include breakpoint($dev-xs) {
                margin-left: 15px;
            }
        }
    }

    .header-text-container {
        padding: 25px;
        @include breakpoint($dev-xs) {
            padding: 15px;
        }
    }
}
/////////////////////////////////////////////////////////////
///////
///////                 Sekcja z artykułami           ///////
///////
/////////////////////////////////////////////////////////////

#main-content {
    h3 {
        font-size: 26px;
        @include breakpoint($dev-xl) {
            font-size: 32px;
        }
    }

    a {
        margin-top: 40px;
    }
}

.main-content-text {
    font-size: 13px;
}

.main-content-border {
    position   : relative;
    top        : 10%;
    right      : 60%;
    bottom     : 0;
    left       : 0;
    padding-top: 20px;
    border-top : 2px solid $border-d;

    &::after {
        position    : absolute;
        z-index     : -1;
        top         : -4px;
        right       : 60%;
        bottom      : 0;
        left        : 0;
        content     : '';
        border-width: 20px;
        border-top  : 4px solid $border-dh;
    }
}

.fa-angle-left,
.fa-angle-right {
    font-size: 40px;
}

.fa-angle-right {
    margin-left: 10px;
}

.carousel-item-css {
    width : 60%;
    margin: auto;
}
/////////////////////////////////////////////////////////////
///////
///////                 "Zalety" systemowe            ///////
///////
/////////////////////////////////////////////////////////////
// Marginesy i odstępy sekcji

#system-advantages {
    .d-lg-block,
    .d-lg-none {
        margin-top    : 200px;
        margin-left   : 50px;
        padding-bottom: 100px;
        height        : 100%;
    }

    .d-lg-none {
        margin-top: 100px;
    }
}
// Style Nagłówka

.content-advantages-border {
    font-weight: bold;
    position   : relative;
    // Nagłówek
    h3 {
        position   : relative;
        font-weight: bold;
        // Linia pod Nagłówkiem
        &::after {
            content       : '';
            position      : absolute;
            z-index       : 1;
            top           : 30%;
            right         : 18%;
            bottom        : -30%;
            left          : 0;
            padding-bottom: 10px;
            border-bottom : 2px solid $border-dhl;
        }
    }
    // Niebieska linia na linii szarej
    &::after {
        position     : absolute;
        z-index      : 0;
        top          : 25%;
        right        : 30%;
        bottom       : -30%;
        left         : 0;
        width        : 30%;
        content      : '';
        border-bottom: 4px solid $border-dhl;
    }
    // Położenie i wielkośc nagłówka względem strony
    @include breakpoint($dev-md) {
        width : 80%;
        margin: auto;
    }
    @include breakpoint($dev-sm) {
        width : 90%;
        margin: auto;
        h3 {
            font-size: 24px;
            &::after {
                right: 8%;
            }
        }
    }
    @include breakpoint($dev-xs) {
        width : 100%;
        margin: auto auto auto -10px;
        h3 {
            font-size: 22px;
            &::after {
                right: 9%;
            }
        }
    }
    @media (max-width: 350px) {
        width : 110%;
        margin: auto;

        h3 {
            font-size: 22px;

            &::after {
                right: 18%;
            }
        }
    }
}
// Lista zalet z grafiką
.adva-content {
    position  : relative;
    max-height: 500px;
    // Lista zalet - style całej listy
    .adva-list {
        position  : absolute;
        top       : 33%;
        left      : 8%;
        right     : 0;
        bottom    : 100px;
        list-style: none;
        // Lista zalet - style poszczególnych komórek
        li {
            margin-bottom: 39px;
            font-weight  : bold;
            @media (max-width: 450px) {
                margin-bottom: 46.5px;
                font-size    : 12px;
                margin-left  : 10px;
            }
            @media (max-width: 350px) {
                margin-bottom: 50.5px;
                font-size    : 10px;
                margin-left  : 20px;
            }
        }
    }
    // Marginesy położenia listy wraz z grafiką względem Nagłówka
    @include breakpoint($dev-md) {
        margin-left: 10%;
    }
    @include breakpoint($dev-sm) {
        margin-left: 7%;
    }
    @include breakpoint($dev-xs) {
        margin-left: -10%;
    }
}
//Zdjęcie po prawej stronie (mężcyzna)
.image-man-box {
    margin-left  : 0;
    margin-bottom: 100px;
    position     : relative;
    // Style zdjęcia
    .image-man {
        width : 85%;
        height: auto;
    }
    // Niebieska kreska pod zdjęciem
    &::after {
        content       : '';
        position      : absolute;
        z-index       : 1;
        top           : 0;
        right         : 50%;
        bottom        : -2%;
        left          : 1%;
        padding-bottom: 10px;
        border-bottom : 20px solid $border-dhl;
    }
}
// Wielkośc i położenie zdjęcia względem sekcji
@include breakpoint($dev-lg) {
    .image-man-box {
        margin-left: 50px;

        .image-man {
            width : 380px;
            height: 380px;
        }
    }
}
@include breakpoint($dev-xl) {
    .image-man-box {
        margin-left: 50px;
    }
}
@media (max-width: 350px) {
    .image-man-box {
        margin-left: 0;
    }
}

/////////////////////////////////////////////////////////////
///////
///////                 Typy                          ///////
///////
/////////////////////////////////////////////////////////////


.type-title {
    padding-bottom: 20px;
    border-bottom : 2px solid $border-dh;
    width: 92%;
    position: relative;
    font-weight: bold;

        &::after {
            content       : '';
            position      : absolute;
            z-index       : 1;
            top           : 0;
            right         : 50%;
            bottom        : -8%;
            left          : 0%;
            padding-bottom: 10px;
            border-bottom : 5px solid $border-dhl;
        }
}

.type-content {
    font-size: 13px;
}

#type .row div[class*="col-"] button, #type .slider-item button  {
    border-radius: 0%;
}

#type .col-3 button {
    cursor: pointer;
}

.slider-item {
margin: auto;
}

.type-slider, .type-slider-tablet {
    width: 90%;
    margin: auto;
}

.type-slider-tablet .slider-item{
    margin: 0 15px 0 15px;

}

/////////////////////////////////////////////////////////////
///////
///////                 Copyright                     ///////
///////
/////////////////////////////////////////////////////////////

.copyright {

    background: rgb(0, 33, 54);
    padding: 10px 0px 2px 0;
    h5 {
        color: rgb(203, 197, 197);
        font-size: 18px;
        text-align: center;
        @media (max-width: 800px) {
            font-size: 14px;
        }

    }
    a {
        color: rgb(203, 197, 197);
        text-decoration: none;

    }
}
