/////////////////////////////////////////////////////////////
///////
///////                 Imports                 ///////
///////
/////////////////////////////////////////////////////////////
@import '../../node_modules/breakpoint-sass/stylesheets/_breakpoint.scss';
/////////////////////////////////////////////////////////////
///////
///////                 Colors                ///////
///////
/////////////////////////////////////////////////////////////
$body-color: rgb(251, 251, 251);
$border-d: rgba(77, 77, 77, .60);
$border-dh: rgb(0, 76, 147);
$border-dhl: rgb(26, 128, 224);
$dev-xs: max-width 575px;
$dev-sm: 576px 767px;
$dev-md: 768px 991px;
$dev-lg: 992px 1199px;
$dev-xl: min-width 1200px;


/////////////////////////////////////////////////////////////
///////
///////                 Copyright                     ///////
///////
/////////////////////////////////////////////////////////////

.copyright {

    background: rgb(0, 33, 54);
    padding: 10px 0px 2px 0;
    h5 {
        color: rgb(203, 197, 197);
        font-size: 18px;
        text-align: center;
        @media (max-width: 800px) {
            font-size: 14px;
        }

    }
    a {
        color: rgb(203, 197, 197);
        text-decoration: none;

    }
}
